streamlit
openai-whisper
torch
torchaudio
ffmpeg-python

langchain
langchain-core
langchain-community
langchain-text-splitters

chromadb
sentence-transformers
huggingface-hub

mistralai

pypdf
fpdf

yt-dlp

python-dotenv

tqdm
numpy
pandas
pydub